/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Header ***********/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79px;
}
header img {
  width: 61.09px;
}
header nav {
  height: 100%;
}
header nav ul {
  display: flex;
  gap: 68px;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}
header nav li {
  height: 100%;
}
header nav a {
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-top: 2px solid transparent;
  padding-top: 16px;
}
header nav a:hover {
  border-top: 2px solid var(--main-color);
  color: var(--main-color);
}
/****** Hero ***********/

.hero-text h1 {
  font-size: 22px;
  margin: 0;
  padding-bottom: 5px;
}
.hero-text p {
  margin: 0;
  padding-bottom: 35px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.search-icon .fa-solid {
  display: none;
}
form {
  display: flex;
  align-items: stretch;
  width: 370px;
  height: 49px;
}
.location-icon {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  background-color: var(--main-bg-color);
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.location-icon .fa-solid {
  color: black;
}
.search-btn {
  background-color: var(--main-color);
  color: white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-color: transparent;
  padding: 0 16px;
  font-weight: bold;
}
.search-btn:hover {
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
.search-bar {
  background-color: white;
  padding: 0 15px;
  border: 1px solid var(--main-bg-color);
  display: flex;
  align-items: center;
  flex: 1;
}
.search-bar input::placeholder {
  color: black;
}
.search-bar input {
  width: 100%;
  border: none;
  background-color: transparent;
  font-weight: bold;
  box-sizing: border-box;
  outline: none;
}

/****** Filtres ***********/
.filter {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 35px;
}
.filter h2 {
  font-size: 18px;
}
.filter-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter span {
  font-weight: bold;
}
.filter button {
  border-radius: 25px;
  font-weight: bold;
  background-color: white;
  border: 2px solid var(--main-bg-color);
  display: flex;
  align-items: center;
  height: 50px;
  gap: 10px;
  padding: 4px 19px;
}
.filter button:hover {
  cursor: pointer;
  background-color: var(--filter-bg-color);
}

/****** Info-Text ***********/

.info-text {
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 35px 0;
}
.info-text .info-icon {
  color: var(--main-color);
  border-radius: 50%;
  border: 2px solid var(--main-bg-color);
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}
.hebergements-cards .card-title {
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 0;
}
.hebergements-cards .card-subtitle {
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 0;
}
.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 30px;
}
.hebergements-cards .card img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.hebergements-cards a {
  width: calc(33.33% - 25px);
  height: 100%;
}
.hebergements .card-rating {
  padding-left: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
}
.hebergements > a {
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

/****** Populaires ***********/

.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}
/****** Activites ***********/

.activites {
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  margin-top: 40px;
}
.activites-cards {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}
.activites-cards .card-title {
  padding-left: 19px;
}
.activites-cards a {
  width: calc(25% - 22.5px);
  height: 100%;
}
.activites-cards .card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}
.activites-cards img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 380px;
  width: 100%;
}

/****** Footer ***********/

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  margin-top: 35px;
}
.footer-colonne {
  padding: 20px;
  width: 33.33%;
}
.footer-colonne ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-colonne li {
  list-style: none;
}
.footer-colonne a:hover {
  color: var(--main-color);
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  /****** Hebergements ***********/

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  /****** Populaires ***********/

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }

  .populaires-cards img {
    height: 146px;
    width: 40%;
  }

  .populaires-cards a {
    width: calc(33.33% - 10px);
  }
  .populaires-cards .card-content {
    width: 60%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  /****** Activites ***********/

  .activites-cards {
    flex-direction: row;
    align-items: stretch;
  }
  .activites-cards img {
    height: 200px;
  }
  .activites-cards a {
    width: calc(25% - 22.5px);
    height: 270px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */

  .main-container {
    padding: 0;
  }

  /****** Header ***********/

  header {
    flex-direction: column;
    padding-bottom: 96px;
  }
  header img {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  header nav a {
    border-bottom: 2px solid var(--main-bg-color);
    justify-content: center;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    width: 100%;
    justify-content: space-around;
    gap: 0;
  }
  header nav li {
    width: 100%;
  }

  header nav a:hover {
    border-bottom: 2px solid var(--main-color);
    border-top: 2px solid transparent;
    color: var(--main-color);
  }

  /****** Hero ***********/

  .hero-text h1 {
    margin: 0 20px;
    max-width: 300px;
  }
  .hero-text p {
    margin: 0 20px;
  }
  form {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
  }
  .search-icon .fa-solid {
    display: block;
    color: white;
  }
  .search-btn .search-text {
    display: none;
  }
  .search-btn {
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 12px;
    height: 49px;
  }

  /****** Filtres ***********/

  .filter {
    flex-direction: column;
    padding: 0 20px;
  }
  .filter h2 {
    align-self: flex-start;
  }

  .filter-btns {
    flex-wrap: wrap;
    align-items: stretch;
  }
  .filter button {
    width: calc(50% - 5px);
  }

  /****** Info-Text ***********/

  .info-text {
    padding: 0 20px;
  }
  .info-text .info-icon {
    box-sizing: border-box;
    min-width: 24px;
  }

  /****** Populaires ***********/
  .hebergements-and-populaires .populaires {
    border-radius: 0;
  }
  .populaires {
    order: -1;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .populaires-cards {
    flex-direction: column;
  }
  .populaires-cards a {
    width: 100%;
  }
  .populaires-cards img {
    border-bottom-left-radius: 15px;
  }

  /****** Hebergements ***********/

  .hebergements-and-populaires .hebergements {
    background-color: transparent;
  }
  .hebergements-cards {
    flex-direction: column;
  }
  .hebergements-cards a {
    width: 100%;
  }

  /****** Activites ***********/

  .activites {
    margin-top: 0;
  }

  .activites-cards {
    flex-direction: column;
  }
  .activites-cards a {
    width: 100%;
  }

  /****** Footer ***********/

  footer {
    flex-direction: column;
  }
  .footer-colonne {
    width: 100%;
  }
}
